$color-li-a: rgb(7, 147, 182);
body {
    height: 100%;
    padding-bottom: 80px;
}

%center-content {
    align-content: center;
    text-align: center;
}

.container-fluid {
    .carousel {
        // float: none;
        img {
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 400px;
        }
    }
    .jumbotron img {
        height: auto;
        max-height: 200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #content {
        @extend %center-content;
        ul {
            list-style: none;
            li {
                text-decoration: none;
                a {
                    color: $color-li-a;
                }
            }
        }
        p {
            text-align: justify;
        }
    }
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%; // background: #fafafa;
    // border-top: solid 1px #eee;
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

@media (min-width: 768px) {
    footer {
        height: 60px;
    }
}

@media (max-width: 767px) {
    footer {
        height: 40px;
    }
}